@import 'leaflet';
@import 'css/bootstrap.min';
@import 'css/foundation';
@import 'plugins/L.Control.Pan';
@import 'plugins/L.Control.Zoomslider';
@import 'plugins/L.Control.MousePosition';
@import 'plugins/Leaflet.PolylineMeasure';
// @import 'plugins/';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@400;700&display=swap');

a {
    text-decoration: none;
    transition: all 0.5s;
    &:hover {
        font-size: 2em;
    }
}

* {
    font-family: 'Noto Sans Thai', sans-serif;
}

h2 {
    font-weight: 700;
}